<!DOCTYPE html>
<html lang="en">
<title>WORK STATS</title>

<body>
  <center style="margin-top: 3%">
    <div style="display:inline; padding:20px; font-size:500%; color: #ff5117">
      <b> <u>HOME ALONE</u> </b>
    </div>
  </center>

  <p style="margin-top: 3%">
    <img src="http://vectips.com/wp-content/uploads/2018/06/tutorial-preview-large-1.png" style="float:left; margin-left: 9%">

    <span style="float:right">
      <ul style="margin-top:7%; margin-left: 63%; font-size: 44px">
        <span>
          <b> Authors: </b>
        </span>
        <li>João Santos</li>
        <li>Paulo Sousa</li>
        <li>Marco Gonçalves</li>
        <li>Ricardo Pereira</li>
        <li>Luís Sobral</li>
      </ul>
    </span>

  </p>
</body>

</html>
