<!DOCTYPE html>
<html lang="en">
<title>WORK STATS</title>

<body>
  <center>
    <div style="background-color:#ff944d; display:inline; padding:20px; font-size:200%">
      <b> WORK </b>
    </div>
  </center>

  <ul style="float: right">
    <span>Authors:</span>
    <li>Joao Santos</li>
    <li>Paulo Sousa</li>
    <li>Marco Gonçalves</li>
    <li>Ricardo Pereira</li>
    <li>Luis Sobral</li>
  </ul>
  <img src="http://vectips.com/wp-content/uploads/2018/06/tutorial-preview-large-1.png" style="float:left">
</body>

</html>
